Identification_Information:
  Citation:
    Citation_Information:
      Originator: 
      Publication_Date: 
      Title: Line $filename
      Geospatial_Data_Presentation_Form: 
  Description:
    Abstract: 
    Purpose: 
    Supplemental_Information: 
Time_Period_of_Content:
    Time_Period_Information:
      Range_of_Dates/Times:
        Beginning_Date: $datetime_min.strftime('%Y-%m-%d') ## Start date
        Beginning_Time: $datetime_min.strftime('%H:%M')    ## Start time
        Ending_Date:    $datetime_max.strftime('%Y-%m-%d')   ## End date
	Ending_Time:    $datetime_max.strftime('%H:%M')      ## End time
    Currentness_Reference: ground condition
  Status:
    Progress: Complete
    Maintenance_and_Update_Frequency: As needed
  Spatial_Domain:
    Bounding_Coordinates:
      West_Bounding_Coordinate:  $x_min
      East_Bounding_Coordinate:  $x_max
      South_Bounding_Coordinate: $y_min
      North_Bounding_Coordinate: $y_max

  Keywords:
    Theme:
      Theme_Keyword_Thesaurus: Bathymetry
      Theme_Keyword: high-resolution CHIRP
      Theme_Keyword: soundings
      Theme_Keyword: Bathymetry     

Theme_Keyword: Insular margin
    Theme:
    Place:
      Place_Keyword: Commonwealth of the Northern Mariana Islands
Place_Keyword: Guam
      Place_Keyword: insular margin
  Access_Constraints: None
  Use_Constraints: None
  Point_of_Contact:
    Contact_Information:
      Contact_Organization_Primary:
        Contact_Organization: 
        Contact_Person: 
      Contact_Position: 
      Contact_Address:
        Address_Type: mailing and physical address
        Address: 
        City: 
        State_or_Province: 
        Postal_Code: 
        Country: 
      Contact_Voice_Telephone: 
      Contact_Facsimile_Telephone: 
      Contact_Electronic_Mail_Address: 
      Hours_of_Service: 
  Browse_Graphic:
    Browse_Graphic_File_Name: 
    Browse_Graphic_File_Description: 
    Browse_Graphic_File_Type: 
Security_Information:
    Security_Classification: Unclassified
  Native_Data_Set_Environment: Data_Quality_Information:
  Attribute_Accuracy:
    Attribute_Accuracy_Report: 
Positional_Accuracy:
    Horizontal_Positional_Accuracy:
      Horizontal_Positional_Accuracy_Report: 
    Vertical_Positional_Accuracy:
      Vertical_Positional_Accuracy_Report: 
  Lineage:
    Source_Information:
      Source_Citation:
        Citation_Information:
          Originator: 
          Publication_Date: 
          Title: processed 
      Type_of_Source_Media: digital
      Source_Time_Period_of_Content:
        Time_Period_Information:
          Single_Date/Time:
            Calendar_Date: 
        Source_Currentness_Reference: publication date
    Process_Step:
      Process_Description:  . 
      Process_Date: 
Process_Contact:
        Contact_Information:
          Contact_Organization_Primary:
            Contact_Organization: 
          Contact_Address:
            Address_Type: 
            Address: 
            City: 
            State_or_Province: 
            Postal_Code: 
            Country: 
          Contact_Voice_Telephone: 
          Contact_Electronic_Mail_Address: 
          Hours_of_Service: 
    Process_Step:
      Process_Description: 
      Source_Used_Citation_Abbreviation: 
Spatial_Data_Organization_Information:
  Direct_Spatial_Reference_Method: 
Spatial_Reference_Information:
  Horizontal_Coordinate_System_Definition:
    Planar:
      Map_Projection:
        Map_Projection_Name: 
Planar_Coordinate_Information:
        Planar_Coordinate_Encoding_Method: 
        Coordinate_Representation:
          Abscissa_Resolution: 
          Ordinate_Resolution: 
        Planar_Distance_Units: 
    Geodetic_Model:
      Horizontal_Datum_Name: WGS 84
      Ellipsoid_Name: World Geodetic System 84
  Vertical_Coordinate_System_Definition:
    Altitude_System_Definition:
    Depth_System_Definition:
      Depth_Datum_Name: 
      Depth_Resolution: 
      Depth_Distance_Units: meters
Entity_and_Attribute_Information:
  Detailed_Description:
    Entity_Type:
    Attribute:
      Attribute_Domain_Values:
  Overview_Description:
    Entity_and_Attribute_Overview:
Distribution_Information:
  Distributor:
    Contact_Information:
      Contact_Organization_Primary:
        Contact_Organization: 
        Contact_Person: 
  Resource_Description: Downloadable Data
  Standard_Order_Process:
    Digital_Form:
      Digital_Transfer_Information:
        Format_Name: binary
        Format_Information_Content: 
        Transfer_Size: $filesize MB
      Digital_Transfer_Option:
        Offline_Option:
          Recording_Format: 
Metadata_Reference_Information:
  Metadata_Date: 
  Metadata_Contact:
    Contact_Information:
      Contact_Organization_Primary:
        Contact_Organization: 
        Contact_Person: 
      Contact_Position: 
      Contact_Address:
        Address_Type: mailing and physical address
        Address: 
        City: 
        State_or_Province: 
        Postal_Code: 
        Country: 
      Contact_Voice_Telephone: 
      Contact_Facsimile_Telephone: 
      Contact_Electronic_Mail_Address: 
      Hours_of_Service: 
  Metadata_Standard_Name: FGDC Content Standards for Digital Geospatial Metadata
  Metadata_Standard_Version: FGDC-STD-001-1998
  Metadata_Time_Convention: 
  Metadata_Access_Constraints: None
  Metadata_Use_Constraints: None
  Metadata_Security_Information:
    Metadata_Security_Classification: Unclassified
  Metadata_Extensions:
    Online_Linkage: 
    Profile_Name: 
